src/tgGeospatial/obj/
src/tgGeospatial/bin/
*.suo
*.user
src/tgCommonLibrary/obj/
src/tgMongo/obj/
src/tgMongo/bin/
src/tgCommonLibrary/bin/
src/tgNet/bin/
src/tgAWS/bin/
src/tgAWS/obj/
src/tgNet/obj/
src/tgHDF5/bin/
src/tgHDF5/obj/
src/packages/
src/tgTests/obj/
src/tgTests/bin/
