<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TG_DBServers" value="localhost" />
    <add key="TG_DBPORT" value="27017" />
    <add key="TG_DBNAME" value="treegecko_test" />
    <add key="TG_DBUSER" value="tg_test_user" />
    <add key="TG_DBPASSWORD" value="testing" />
  </appSettings>
</configuration>